<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} | {% endif %} Colin Rabyniuk</title>

    <meta name="description" content="Colin Rabyniuk, Writer, Developer, Product Manager, Digital Media, Travel Guy, Dude, ">

    <meta name="google-site-verification" content="WqwVEtKY3NlEY6vPafT8YV6qUVipG5dyb2BfITdzYK4" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
