// @name Footer
// @description All footer styles

.footer {
  background-color: #aeaeae;
    padding: ($spacer * 2) $spacer;
    border-top: 1px solid #edefee;

    &__title {
        margin-top: 0;
      }

    a {
        background: none;
        text-decoration: none;
        &:hover{
          background: none;
        }
  }
}
