// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 28px;

.container {
    max-width: 800px;
    margin: 0 auto;

    @media(max-width: 800px) {
        max-width: 90%;
    }
}

.section-title {
    margin-bottom: $spacer;
    position: relative;
}

.header-small {
  background-color: white;
  border-bottom: 1px solid #edefee;
  padding: $spacer 0 $spacer * 2;

}
