<!doctype html>
<html>
    {% include head.html %}
    <body>
      <div class="header-small">
        <div class="container">
          <h2><a href="{{site.url}}{{site.baseurl}}" class="ease">{{ site.name }}</a></h2>

          <div class="social">
            <a href="http://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
            <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
            <a href="mailto:{{ site.email_address }}" target="_blank">Email</a>

              #COYG
          </div>
        </div>
      </div>

      <div class="container post-entry">

        <h3 class="post-title">{{ page.title }}</h3>

        <p class="company"><time>{{ page.date | date_to_string }}</time></p>

        {{ content }}

      </div>
        {% include footer.html %}
    </body>
</html>
